<!-- <p style="color: white;">customerlist works!</p> -->
<div>
    <ngx-spinner type="ball-spin-fade-rotating" size="medium"></ngx-spinner>
    <div style="align-content: space-between;">
        <div id="HASH">
            <div class="title">View Customers</div>
        </div>
    </div>
    <div style="padding-top: 30px;">
        <table style="width: 70vw; min-width: 650px;">
            <tr class="last" style="text-align: left;">
                <!-- <th  style="text-align: left;">Employee Id</th> -->
                <th  >Name</th>
                <th >Date </th>
                <th >Time</th>
                <!-- <th >Employee Details </th>
                <th >Store</th>
                <th >Image</th>
                <th >Login</th>
                <th >Logout</th>
                <th >Action</th> -->
            </tr>
            <ng-container >
                <tr style="text-align: center;">
                    <td>sowmya raj</td>
                    <td>13/04/2021</td>
                    <td>13:00</td>
                    
                </tr>
                <tr>
                    <td>ashwanth</td>
                    <td>15/10/2021</td>
                    <td>15:20</td>
                </tr>
                <tr>
                    <td>sweatha</td>
                    <td>15/10/2021</td>
                    <td>15:20</td>
                </tr>
                <tr style="text-align: center;">
                    <td>sowmya raj</td>
                    <td>13/04/2021</td>
                    <td>13:00</td>
                    
                </tr>
                <tr>
                    <td>ashwanth</td>
                    <td>15/10/2021</td>
                    <td>15:20</td>
                </tr>
                <tr>
                    <td>sweatha</td>
                    <td>15/10/2021</td>
                    <td>15:20</td>
                </tr>
            </ng-container>
        </table>
    </div>
    <!-- <div style="text-align: right; bottom: 30px; right: 20px;color: white;">
        <pagination-controls class="current" previousLabel="<" nextLabel=">" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page" (pageChange)="currentPage = $event">
        </pagination-controls>
    </div> -->
</div>
